doctype html

html(lang="en-US")
  head
    title Taboo
    meta(charset="UTF-8")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="/stylesheets/whitespace-reset.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="https://kit.fontawesome.com/ac87e4a60b.js" crossorigin="anonymous")
  body
    header
      a(href="/") 
        h1 Taboo
      nav
        ul 
          a(href="/about") 
            li About
          a(href="/rules") 
            li Rules
          a(href="/") 
            li Home
          
    block main
      main 
        section
          a(href="/settings")
            i.fas.fa-play
            button Play
          a(href="/settings")
            i.fas.fa-cog
            button Settings
          a(href="/buzzer")
            i.fas.fa-concierge-bell 
            button Buzzer
  script(src="./javascripts/app.js")        

