extends layout

block main 
  main 
    .info
      .team
        i.fas.fa-user-friends
        ul#teamDisplay
          each team in tabooGame.teamsList
            li= `${team.name} | ${team.score}`
      div
        i.fas.fa-clock
        p#timeDisplay= tabooGame.time
      div
        i.fas.fa-sync-alt
        p#roundsDisplay= `1/${tabooGame.rounds}`
    .points 0
    .card
      ul
        li.word
        li
        li
        li 
        li
        li  
    .buttons
      button.fas.fa-times-circle#incorrect(disabled)
      button.start START
      button.fas.fa-check-circle#correct(disabled)
    

