html {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 25px;
}
body {
  background-color: rgb(0, 44, 93);
}
header h1 {
  color: #df7700;
  text-align: center;
  font-size: 3rem;
}
a {
  text-decoration: none;
  color: inherit;
}
main.rules p,
main.rules li {
  font-size: 0.45rem;
  padding: 0 5px;
  text-transform: none;
  text-align: left;
}
main.rules h2 {
  font-size: 0.6rem;
  color: white;
}
.buzzer {
  height: 250px;
  width: 250px;
  background-color: #df7700;
  border-radius: 30%;
  border: 10px solid rgb(0, 44, 93);
}
header ul {
  display: flex;
  justify-content: space-around;
}
header nav {
  background-color: #184477;
  padding: 5px 0 10px 0;
  margin: 8px;
  border-radius: 8%;
}
.partial {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}
main {
  background-color: #184477;
  height: 500px;
  margin: 10px;
  border-radius: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
}
main button {
  border: none;
  background-color: transparent;
  outline: none;
  font: inherit;
  cursor: pointer;
  color: white;
}
main a {
  width: 100%;
  font-size: 1.3rem;
}
i {
  color: #df7700;
  margin-right: 10px;
}
main div.info {
  border-bottom: 3px solid #df7700;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  margin: 0;
  font-size: 0.7rem;
  padding: 0;
}
main div div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
div.points {
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  color: white;
}
main div.card {
  border: 3px solid black;
  width: 50%;
  min-height: 230px;
  background-color: white;
}
main ul {
  list-style-type: none;
  padding-bottom: 10px;
}
main li {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-size: 1rem;
}
main li.word {
  margin-bottom: 10px;
  width: 100%;
  min-height: 40px;
  border-bottom: 3px solid black;
  padding: 5px 0;
  font-size: 1.2rem;
  background-color: #df7700;
}
main div.buttons button.start {
  text-decoration: #df7700 underline;
  font-size: 1.8rem;
}
li {
  color: white;
  text-decoration: #df7700 underline;
}
.hidden {
  visibility: hidden;
}
main div.team li.currentTeam {
  color: #df7700;
}
main div.team li {
  font-size: 0.7rem;
  color: white;
  text-transform: capitalize;
}
main div.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
main div.buttons button {
  font-size: 2.5rem;
}

section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  gap: 50px 0;
}
.right {
  text-align: right;
  padding-right: 10px;
}
label,
output {
  color: white;
}
input[type="text"] {
  padding: 4px;
  font-size: 0.6rem;
  color: inherit;
  background-color: #ffffff;
  border: none;
}

input:focus::placeholder {
  color: white;
}

input.disabledTextInput {
  background-color: darkgray;
}
input[type="range"] {
  /* width: 100%; */
  margin: 0 10px 10px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #002c5d;
  border: 0;
  border-radius: 3.6px;
  width: 100%;
  height: 9.7px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -2.65px;
  width: 15px;
  height: 15px;
  background: #df7700;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #003a7c;
}
input[type="range"]::-moz-range-track {
  background: #002c5d;
  border: 0;
  border-radius: 3.6px;
  width: 100%;
  height: 9.7px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #df7700;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 2.65px 0;
  color: transparent;
  width: 100%;
  height: 9.7px;
  cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
  background: #001e3e;
  border: 0;
  border-radius: 7.2px;
}
input[type="range"]::-ms-fill-upper {
  background: #002c5d;
  border: 0;
  border-radius: 7.2px;
}
input[type="range"]::-ms-thumb {
  width: 15px;
  height: 15px;
  background: #df7700;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type="range"]:focus::-ms-fill-lower {
  background: #002c5d;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #003a7c;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align: auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type="range"] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
input[type="submit"] {
  border: none;
  text-decoration: #df7700 underline;
  background-color: transparent;
  font: inherit;
  float: right;
  cursor: pointer;
  margin-top: 10px;
  padding: 0 5px;
  color: white;
  font-size: 1.3rem;
}
